<div class="center">
  <md-card>
    <md-card-content>
      <table style="width: 100%; table-layout: fixed">
        <tr>
          <th style="width: 50px;">Horario</th>
          <th *ngFor="let consutorioMedico of consultoriosMedico">{{consutorioMedico.nombre}}</th>
        </tr>
        <ng-container *ngFor="let horario of horariosMedico">
          <tr>
            <th style="width: 50px;">{{horario.hora}}</th>
            <td *ngFor="let consultorio of consultoriosMedico"><button md-raised-button (click)="clickCeldaTurno(consultorio.id, horario.id)" color="{{celdaTurnoColor(consultorio.id, horario.id)}}">{{celdaTurnoValor(consultorio.id, horario.id)}}</button></td>
          </tr>
          <tr style="height: 10px">
            <td></td>
            <td class="clickVer" *ngFor="let consultorio of consultoriosMedico" [style.background]="entreturno(consultorio.id, horario.id)" (click)="clickEntreturno(consultorio.id, horario.id)"></td>
          </tr>
        </ng-container>
      </table>
    </md-card-content>
  </md-card>
</div>
