<div class="center">
  <md-card>
    <md-card-header>
      <md-card-title>
        Ausencias de Médicos
      </md-card-title>
    </md-card-header>
    <div class="boton-add">
      <a md-fab color="warn"><md-icon>add</md-icon></a>
    </div>
    <md-card-content>
      <md-list>
        <md-list-item class="clickVer" mdTooltip="Click para borrar!" *ngFor="let ausencia of anulaciones">
          <h2 md-line>{{ausencia.medico}}</h2>
          <h3 md-line>{{ausencia.fecha.substr(0,10)}}</h3>
          <p md-line>{{'Desde: ' + convertirHora(ausencia.id_horario_desde) + ' hasta ' + convertirHora(ausencia.id_horario_hasta)}}</p>
        </md-list-item>
      </md-list>
    </md-card-content>
  </md-card>
</div>
