<md-dialog-content>
    <md-card>
      <md-card-header>
        <md-card-title>
          <md-icon>chrome_reader_mode</md-icon>
          Crear Paciente
        </md-card-title>
      </md-card-header>
      <md-card-content>
        <table cellspacing="0"><tr>
          <td>
            <md-input-container>
              <input mdInput placeholder="Nombre" name="nombre" [(ngModel)]="nuevoPac.nombre" #nombre="ngModel" required>
            </md-input-container>
          </td>
          <td>
            <md-input-container>
              <input mdInput placeholder="Apellido" name="apellido" [(ngModel)]="nuevoPac.apellido" #apellido="ngModel" required>
            </md-input-container>
          </td>
        </tr>
          <tr>
            <td>
              <md-input-container>
                <input mdInput placeholder="Documento" name="documento" [(ngModel)]="nuevoPac.documento" #documento="ngModel" required>
              </md-input-container>
            </td>
            <td>
              <md-input-container>
                <input mdInput placeholder="Teléfono" name="tel" [(ngModel)]="nuevoPac.tel" #tel="ngModel">
              </md-input-container>
            </td>
            <td>
              <md-input-container>
                <input mdInput placeholder="Celular" name="celular" [(ngModel)]="nuevoPac.celular" #celular="ngModel">
              </md-input-container>
            </td>
          </tr>
        </table>
      </md-card-content>
      <md-card-actions>
        <button md-button type="button" (click)="crear()"><md-icon>archive</md-icon>Guardar</button>
        <button md-button type="button" (click)="dialogRef.close()"><md-icon>clear</md-icon>Cancelar</button>
      </md-card-actions>
    </md-card>
</md-dialog-content>
