<md-dialog-content>
    <md-card>
      <md-card-header>
        <md-card-title>
          <md-icon>chrome_reader_mode</md-icon>
          Nueva Paciente
        </md-card-title>
      </md-card-header>
      <md-card-content>
        <table cellspacing="0"><tr>
          <td>
            <md-input-container>
              <input mdInput placeholder="Nombre" name="nombre" [(ngModel)]="nuevoPac.nombre" #nombre="ngModel" required>
            </md-input-container>
          </td>
          <td>
            <md-input-container>
              <input mdInput placeholder="Apellido" name="apellido" [(ngModel)]="nuevoPac.apellido" #apellido="ngModel" required>
            </md-input-container>
          </td>
        </tr></table>
        <table cellspacing="0" class="tablaUsuarios"><tr>
          <td>
            <button md-raised-button color="primary" type="button" *ngIf="!osSeleccionada" (click)="seleccionarOs()">Seleccionar OS</button>
            <md-input-container *ngIf="osSeleccionada" (click)="seleccionarOs()" class="clickVer">
              <input mdInput class="clickVer" disabled placeholder="Obra social" [(ngModel)]="osSeleccionada.nombre" name="osSel" #osSel="ngModel">
            </md-input-container>
          </td>
        </tr></table>
        <table cellspacing="0" class="tablaUsuarios"><tr>
          <td>
            <md-input-container>
              <input mdInput placeholder="Documento" name="documento" [(ngModel)]="nuevoPac.documento" #documento="ngModel" required>
            </md-input-container>
          </td>
          <td>
            <md-input-container>
              <input mdInput type="date" placeholder="Nacimiento" name="fechaNac" [(ngModel)]="nuevoPac.fechaNac" #fechaNac="ngModel">
            </md-input-container>
          </td>
          <td>
            <md-input-container>
              <input mdInput type="tel" placeholder="Teléfono" name="tel" [(ngModel)]="nuevoPac.tel" #tel="ngModel">
            </md-input-container>
          </td>
        </tr></table>
        <table cellspacing="0" class="tablaUsuarios"><tr>
          <td>
            <md-input-container>
              <input mdInput type="email" placeholder="Correo electrónico" name="email" [(ngModel)]="nuevoPac.email" #email="ngModel">
            </md-input-container>
          </td>
        </tr></table>
        <table cellspacing="0" class="tablaUsuarios"><tr>
          <td>
            <md-select placeholder="Sexo" [(ngModel)]="nuevoPac.sexo" name="sexo">
              <md-option *ngFor="let sex of sexos" [value]="sex.valor">
                {{sex.nombre}}
              </md-option>
            </md-select>
          </td>
          <td>
            <md-input-container>
              <input mdInput placeholder="Número de OS" name="numos" [(ngModel)]="nuevoPac.numero_os" #numos="ngModel">
            </md-input-container>
          </td>
          <td>
            <md-input-container>
              <input mdInput placeholder="Domicilio" name="domicilio" [(ngModel)]="nuevoPac.domicilio" #domicilio="ngModel">
            </md-input-container>
          </td>
        </tr>
          <tr>
            <md-input-container>
              <textarea mdInput placeholder="Observaciones" name="observaciones" [(ngModel)]="nuevoPac.obvservaciones" #observaciones="ngModel"></textarea>
            </md-input-container>
          </tr>
        </table>
      </md-card-content>
      <md-card-actions>
        <button md-button type="button" (click)="crear()"><md-icon>archive</md-icon>Guardar</button>
        <button md-button type="button" (click)="dialogRef.close()"><md-icon>clear</md-icon>Cancelar</button>
      </md-card-actions>
    </md-card>
</md-dialog-content>
