<md-card>
  <md-card-header>
    <md-card-title>
      <md-icon>work</md-icon>
      Tratamientos
    </md-card-title>
  </md-card-header>
  <md-card-content>
    <md-list>
      <md-list-item class="clickVer" *ngFor="let tratamiento of tratamientos" (click)="dialogRef.close(tratamiento.id)">
        <md-icon md-list-avatar>work</md-icon>
        <h4 md-line>{{tratamiento.nombre}}</h4>
        <p md-line>{{'ID: ' + tratamiento.id}}</p>
        <p md-line>{{'Costo: ' + tratamiento.costo}}</p>
      </md-list-item>
    </md-list>
  </md-card-content>
</md-card>
