<md-toolbar color="primary">
  CONDES
    <button class="derecha-menu" md-icon-button [mdMenuTriggerFor]="menu">
      <md-icon>more_vert</md-icon>
    </button>
</md-toolbar>
<md-menu #menu="mdMenu">
  <button md-menu-item [routerLink]="['/agenda']">
    <md-icon>reorder</md-icon>
    <span>Agenda</span>
  </button>
  <button md-menu-item [routerLink]="['/pacientes']">
    <md-icon>people</md-icon>
    <span>Pacientes</span>
  </button>
  <button md-menu-item [routerLink]="['/liquidaciones']">
    <md-icon>payment</md-icon>
    <span>Liquidaciones</span>
  </button>
  <button md-menu-item [routerLink]="['/cuenta-corriente']">
    <md-icon>monetization_on</md-icon>
    <span>Cuenta Corriente</span>
  </button>
  <button md-menu-item [routerLink]="['/configuracion']">
    <md-icon>build</md-icon>
    <span>Configuración</span>
  </button>
  <button md-menu-item [routerLink]="['/medicos']">
    <md-icon>local_hospital</md-icon>
    <span>Turnos</span>
  </button>
  <md-divider style="padding: 1px;"></md-divider>
  <button md-menu-item [routerLink]="['/login']">
    <md-icon>exit_to_app</md-icon>
    <span>Salir</span>
  </button>
</md-menu>
