<div class="center">
  <md-card>
    <h2 style="text-align: center">Consultorios Dermatológicos y Centro de Estética</h2>
    <table style="width: 100%; table-layout: fixed">
      <tr>
        <td>
          <button md-raised-button color="primary" [routerLink]="['/agenda']">
            <md-icon>reorder</md-icon>
            <span>Agenda</span>
          </button>
        </td>
        <td>
          <button md-raised-button color="primary" [routerLink]="['/turnos']">
            <md-icon>receipt</md-icon>
            <span>Turnos</span>
          </button>
        </td>
      </tr>
      <tr>
        <td>
          <button md-raised-button color="primary" [routerLink]="['/pacientes']">
            <md-icon>people</md-icon>
            <span>Pacientes</span>
          </button>
        </td>
        <td>
          <button md-raised-button color="primary" [routerLink]="['/liquidaciones']">
            <md-icon>payment</md-icon>
            <span>Liquidaciones</span>
          </button>
        </td>
      </tr>
      <tr>
        <td>
          <button md-raised-button color="primary" [routerLink]="['/cuenta-corriente']">
            <md-icon>monetization_on</md-icon>
            <span>Cuenta Corriente</span>
          </button>
        </td>
        <td>
          <button md-raised-button color="primary" [routerLink]="['/ausencias']">
            <md-icon>warning</md-icon>
            <span>Ausencias programadas</span>
          </button>
        </td>
      </tr>
      <tr>
        <td>
          <button md-raised-button color="accent" [routerLink]="['/configuracion']">
            <md-icon>build</md-icon>
            <span>Configuración</span>
          </button>
        </td>
      </tr>
    </table>
    <md-divider style="padding: 1px;"></md-divider>
    <div style="float: right">
      <button md-button color="accent" (click)="cambiarClave()">
        <md-icon>security</md-icon>
        <span>Cambiar contraseña</span>
      </button>
      <button md-button color="warn" [routerLink]="['/login']">
        <md-icon>exit_to_app</md-icon>
        <span>Salir</span>
      </button>
    </div>
    <!--<button style="float: right" type="button" (click)="oscuro()" md-button>MODO OSCURO</button>-->
  </md-card>
</div>
