<div class="center">
  <md-card>
    <table width="100%">
      <tr>
        <td>
          <button md-raised-button [routerLink]="['/agenda']">
            <md-icon>reorder</md-icon>
            <span>Agenda</span>
          </button>
        </td>
        <td>
          <button md-raised-button [routerLink]="['/turnos']">
            <md-icon>receipt</md-icon>
            <span>Turnos</span>
          </button>
        </td>
      </tr>
      <tr>
        <td>
          <button md-raised-button [routerLink]="['/pacientes']">
            <md-icon>people</md-icon>
            <span>Pacientes</span>
          </button>
        </td>
        <td>
          <button md-raised-button [routerLink]="['/liquidaciones']">
            <md-icon>payment</md-icon>
            <span>Liquidaciones</span>
          </button>
        </td>
      </tr>
      <tr>
        <td>
          <button md-raised-button [routerLink]="['/cuenta-corriente']">
            <md-icon>monetization_on</md-icon>
            <span>Cuenta Corriente</span>
          </button>
        </td>
        <td>
          <button md-raised-button [routerLink]="['/configuracion']">
            <md-icon>build</md-icon>
            <span>Configuración</span>
          </button>
        </td>
      </tr>
    </table>
    <md-divider style="padding: 1px;"></md-divider>
    <button md-button [routerLink]="['/login']">
      <md-icon>exit_to_app</md-icon>
      <span>Salir</span>
    </button>
  </md-card>
</div>
