<md-dialog-content>
  <md-card>
    <md-card-header>
      <md-card-title>
        <md-icon>people</md-icon>
        Pacientes
      </md-card-title>
    </md-card-header>
    <div class="boton-add">
      <a md-fab (click)="crear()"><md-icon>add</md-icon></a>
    </div>
    <md-card-content>
      <table>
        <tr>
          <td>
            <md-input-container>
              <input mdInput placeholder="Apellido..." [formControl]="ape" #campo1 (keyup.enter)="campo2.focus()">
            </md-input-container>
          </td>
          <td>
            <md-input-container>
              <input mdInput placeholder="Nombre..." [formControl]="nom" #campo2 (keyup.enter)="campo3.focus()">
            </md-input-container>
          </td>
          <td>
            <md-input-container>
              <input mdInput placeholder="Documento..." [formControl]="dni" #campo3 (keyup.enter)="campo4.focus()">
            </md-input-container>
          </td>
        </tr>
        <tr>
          <td>
            <md-input-container>
              <input mdInput placeholder="Teléfono" name="tel" [(ngModel)]="nuevoPac.tel" #tel="ngModel" #campo4  (keyup.enter)="campo5.focus()">
            </md-input-container>
          </td>
          <td>
            <md-input-container>
              <input mdInput placeholder="Celular" name="celular" [(ngModel)]="nuevoPac.celular" #celular="ngModel" #campo5 (keyup.enter)="crear()">
            </md-input-container>
          </td>
        </tr>
      </table>
    </md-card-content>
    <md-divider></md-divider>
    <md-card-content>
      <md-list>
        <md-list-item class="clickVer" *ngFor="let paciente of pacientes">
          <md-icon md-list-avatar (click)="dialogRef.close(paciente.id)">person</md-icon>
          <h4 md-line (click)="dialogRef.close(paciente.id)">{{paciente.apellido + ' ' + paciente.nombre}}</h4>
          <p md-line (click)="dialogRef.close(paciente.id)">{{'Documento: ' + paciente.documento}}</p>
        </md-list-item>
      </md-list>
    </md-card-content>
  </md-card>
</md-dialog-content>
