<div class="center-agenda">
  <md-card>
    <md-card-content>
      <md-input-container>
        <input mdInput type="date" id="fechaT" [class.fecha-dark]="this.darkService.esDark" [(ngModel)]="fechaTurnos" (change)="cambiarFecha()">
      </md-input-container>
      <a md-fab color="warn" *ngIf="anulaciones.length > 0" style="position: fixed; top: 85px; right: 20px;" (click)="verAnulacionesDialogo()" mdTooltip="Hay médicos ausentes!"><md-icon>warning</md-icon></a>
      <md-divider></md-divider>
      <table style="width: 100%; table-layout: fixed">
        <tr>
          <th style="width: 50px;">Horario</th>
          <th *ngFor="let consultorio of consultorios">{{consultorio.nombre}}</th>
        </tr>
        <ng-container *ngFor="let horario of horarios">
          <tr>
            <th style="width: 50px;">{{horario.hora}}</th>
            <td *ngFor="let consultorio of consultorios"><button md-raised-button (click)="clickCeldaTurno(consultorio.id, horario.id)" color="{{celdaTurnoColor(consultorio.id, horario.id)}}">{{celdaTurnoValor(consultorio.id, horario.id)}}</button></td>
          </tr>
          <tr style="height: 10px">
            <td></td>
            <td class="clickVer" *ngFor="let consultorio of consultorios" [style.background]="entreturno(consultorio.id, horario.id)" (click)="clickEntreturno(consultorio.id, horario.id)"></td>
          </tr>
        </ng-container>
      </table>
    </md-card-content>
  </md-card>
</div>
