<div class="center-agenda">
  <md-card>
    <md-card-content>
      <md-input-container>
        <input mdInput placeholder="Fecha" (change)="cambiarFecha(fechaTurnos)" type="date" name="fechaActual" [(ngModel)]="fechaTurnos" #fechaActual="ngModel">
      </md-input-container>
      <md-divider></md-divider>
      <table width="100%">
        <tr>
          <th>Horario</th>
          <th *ngFor="let consultorio of consultorios">{{consultorio.nombre}}</th>
        </tr>
        <ng-container *ngFor="let horario of horarios">
          <tr>
            <th>{{horario.hora}}</th>
            <td *ngFor="let consultorio of consultorios"><button md-raised-button (click)="clickCeldaTurno(consultorio.id, horario.id)" color="{{celdaTurnoColor(consultorio.id, horario.id)}}">{{celdaTurnoValor(consultorio.id, horario.id)}}</button></td>
          </tr>
          <tr style="height: 7px">
            <td></td>
            <td class="clickVer" *ngFor="let consultorio of consultorios" [style.background]="entreturno(consultorio.id, horario.id)" (click)="clickEntreturno(consultorio.id, horario.id)"></td>
          </tr>
        </ng-container>
      </table>
    </md-card-content>
  </md-card>
</div>
