tr:nth-child(even){background-color: rgba(188, 188, 188, 0.39)
}
th{
  background-color: #9fa8da;
  padding: 1px;
}
td{
  padding: 1px;
}

#fechaT {
  position: fixed;
  top: 90px;
  left: 20px;
  width: 140px;
  font-size: medium;
  font-weight: bold;
  background-color: whitesmoke;

}
