<div class="center-form">
  <form name="nuevaOs" (ngSubmit)="crear()">
    <md-card>
      <md-card-header>
        <md-card-title>
          <md-icon>chrome_reader_mode</md-icon>
          Nueva Obra Social
        </md-card-title>
      </md-card-header>
      <md-card-content>
        <md-input-container>
          <input mdInput placeholder="Nombre..." required name="nombre" [(ngModel)]="nuevaOs.nombre" #nombre="ngModel">
        </md-input-container>
      </md-card-content>
      <md-card-actions>
        <button md-button color="accent" type="submit"><md-icon>archive</md-icon>Guardar</button>
        <button md-button color="primary" (click)="cancelar()"><md-icon>clear</md-icon>Cancelar</button>
      </md-card-actions>
    </md-card>
  </form>
</div>
