<div class="center-form">
  <form name="nuevoPac" (ngSubmit)="modificar()">
    <md-card>
      <md-card-header>
        <md-card-title>
          <md-icon>person</md-icon>
          Paciente
        </md-card-title>
      </md-card-header>
      <md-card-content>
        <table cellspacing="0"><tr>
          <td>
            <md-input-container>
              <input mdInput disabled placeholder="ID" name="id" [(ngModel)]="pac.id" #id="ngModel" required>
            </md-input-container>
          </td>
        </tr></table>
        <table cellspacing="0"><tr>
          <td>
            <md-input-container>
              <input mdInput [disabled]="!edicion" placeholder="Nombre" name="nombre" [(ngModel)]="pac.nombre" #nombre="ngModel" required>
            </md-input-container>
          </td>
          <td>
            <md-input-container>
              <input mdInput [disabled]="!edicion" placeholder="Apellido" name="apellido" [(ngModel)]="pac.apellido" #apellido="ngModel">
            </md-input-container>
          </td>
        </tr></table>
        <table cellspacing="0" class="tablaUsuarios"><tr>
          <td>
            <md-select [disabled]="!edicion" placeholder="Obra Social" [(ngModel)]="pac.id_os" name="os" required>
              <md-option *ngFor="let osSelect of obras" [value]="osSelect.id">
                {{osSelect.nombre}}
              </md-option>
            </md-select>
          </td>
        </tr></table>
        <table cellspacing="0" class="tablaUsuarios"><tr>
          <td>
            <md-input-container>
              <input mdInput [disabled]="!edicion" placeholder="Documento" name="documento" [(ngModel)]="pac.documento" #documento="ngModel" required>
            </md-input-container>
            <md-input-container>
              <input mdInput [disabled]="!edicion" type="date" placeholder="Nacimiento" name="fechaNac" [(ngModel)]="pac.fecha_nacimiento" #fechaNac="ngModel" required>
            </md-input-container>
          </td>
        </tr></table>
        <table cellspacing="0" class="tablaUsuarios"><tr>
          <td>
            <md-input-container>
              <input mdInput [disabled]="!edicion" type="tel" placeholder="Teléfono" name="tel" [(ngModel)]="pac.telefono" #tel="ngModel">
            </md-input-container>
            <md-input-container>
              <input mdInput [disabled]="!edicion" type="email" placeholder="Correo electrónico" name="email" [(ngModel)]="pac.mail" #email="ngModel">
            </md-input-container>
          </td>
        </tr></table>
        <table cellspacing="0" class="tablaUsuarios"><tr>
          <td>
            <md-select [disabled]="!edicion" placeholder="Sexo" [(ngModel)]="pac.sexo" name="sexo">
              <md-option *ngFor="let sex of sexos" [value]="sex.valor">
                {{sex.nombre}}
              </md-option>
            </md-select>
          </td>
        </tr>
          <tr>
            <td>
              <md-input-container>
                <input mdInput [disabled]="!edicion" placeholder="Numero OS" name="numero_os" [(ngModel)]="pac.numero_os" #numero_os="ngModel">
              </md-input-container>
            </td>
            <td>
              <md-input-container>
                <input mdInput [disabled]="!edicion" placeholder="Domicilio" name="domicilio" [(ngModel)]="pac.domicilio" #domicilio="ngModel">
              </md-input-container>
            </td>
          </tr>
          <tr>
            <td>
              <md-input-container>
                <textarea mdInput [disabled]="!edicion" placeholder="Observaciones" name="obvservaciones" [(ngModel)]="pac.obvservaciones" #obvservaciones="ngModel"></textarea>
              </md-input-container>
            </td>
          </tr>
        </table>
      </md-card-content>
      <md-card-actions>
        <button md-button color="primary" (click)="editar(true)" *ngIf="!edicion" type="button"><md-icon>create</md-icon>Modificar</button>
        <button *ngIf="edicion" md-button color="accent" type="submit"><md-icon>archive</md-icon>Guardar</button>
        <button md-button type="button" *ngIf="!edicion" color="primary" [routerLink]="[returnUrl]"><md-icon>undo</md-icon>Volver</button>
        <button md-button color="primary" (click)="editar(false)" type="button" *ngIf="edicion"><md-icon>clear</md-icon>Cancelar</button>
        <div class="botones-derecha">
          <button md-button color="warn" type="button" (click)="borrar()"><md-icon>remove_circle</md-icon>Borrar</button>
        </div>
      </md-card-actions>
    </md-card>
  </form>
</div>
