<div class="center-form">
  <form name="nuevoTratamiento" (ngSubmit)="crear()">
    <md-card>
      <md-card-header>
        <md-card-title>
          <md-icon>work</md-icon>
          Nuevo Tratamiento
        </md-card-title>
      </md-card-header>
      <md-card-content>
        <table cellspacing="0"><tr>
          <td>
            <md-input-container>
              <input mdInput placeholder="Nombre" name="nombre" [(ngModel)]="nuevoTratamiento.nombre" #nombre="ngModel" required>
            </md-input-container>
          </td>
          <td>
            <md-input-container>
              <input mdInput placeholder="Costo" name="costoTratamiento" [(ngModel)]="nuevoTratamiento.costo" #costoTratamiento="ngModel">
            </md-input-container>
          </td></table>
      </md-card-content>
      <md-card-actions>
        <button md-button type="submit"><md-icon>archive</md-icon>Guardar</button>
        <button md-button (click)="cancelar()"><md-icon>clear</md-icon>Cancelar</button>
      </md-card-actions>
    </md-card>
  </form>
</div>
