<div class="center-form">
  <form name="nuevoPac" (ngSubmit)="crear()">
    <md-card>
      <md-card-header>
        <md-card-title>
          <md-icon>chrome_reader_mode</md-icon>
          Nuevo Usuario
        </md-card-title>
      </md-card-header>
      <md-card-content>
        <table cellspacing="0"><tr>
          <td>
            <md-input-container>
              <input mdInput placeholder="Nombre" name="nombre" [(ngModel)]="nuevoUsuario.nombre" #nombre="ngModel" required>
            </md-input-container>
          </td>
        </tr></table>
        <table cellspacing="0" class="tablaUsuarios"><tr>
          <td>
            <md-select placeholder="Rol" [(ngModel)]="nuevoUsuario.rol" name="rol" required>
              <md-option *ngFor="let rolDb of roles" [value]="rolDb.nombre">
                {{rolDb.nombre}}
              </md-option>
            </md-select>
          </td>
        </tr></table>

        <table cellspacing="0" class="tablaUsuarios"><tr>
          <td>
            <md-input-container>
              <input mdInput type="password" placeholder="Contreseña" name="pass1" [(ngModel)]="nuevoUsuario.pass1" #pass1="ngModel" required>
            </md-input-container>
            <md-input-container>
              <input mdInput type="password" placeholder="Repita la contraseña" name="pass2" [(ngModel)]="nuevoUsuario.pass2" #pass2="ngModel" required>
            </md-input-container>
          </td>
        </tr></table>
      </md-card-content>
      <md-card-actions>
        <button md-button color="accent" type="submit"><md-icon>archive</md-icon>Guardar</button>
        <button md-button color="primary" type="button" (click)="cancelar()"><md-icon>clear</md-icon>Cancelar</button>
      </md-card-actions>
    </md-card>
  </form>
</div>
