<div class="center-form">
  <form name="varTratamiento" (ngSubmit)="modificar()">
    <md-card>
      <md-card-header>
        <md-card-title>
          <md-icon>work</md-icon>
          Tratamiento
        </md-card-title>
      </md-card-header>
      <md-card-content>
        <md-input-container>
          <input mdInput disabled placeholder="ID" name="id" [(ngModel)]="tratamiento.id" #id="ngModel" id="id">
        </md-input-container>
        <md-input-container>
          <input mdInput [disabled]="!edicion" placeholder="Nombre..." required name="nombre" [(ngModel)]="tratamiento.nombre" #nombre="ngModel" id="nombre">
        </md-input-container>
        <md-input-container>
          <input mdInput [disabled]="!edicion" placeholder="Costo..." required name="costo" [(ngModel)]="tratamiento.costo" #costo="ngModel" id="costo">
        </md-input-container>
      </md-card-content>
      <md-card-actions>
        <button md-button color="primary" (click)="editar(true)" *ngIf="!edicion" type="button"><md-icon>create</md-icon>Modificar</button>
        <button *ngIf="edicion" md-button color="accent" type="submit"><md-icon>archive</md-icon>Guardar</button>
        <button md-button color="primary" type="button" *ngIf="!edicion" [routerLink]="['/configuracion/tratamientos']"><md-icon>undo</md-icon>Volver</button>
        <button md-button color="primary" (click)="editar(false)" type="button" *ngIf="edicion"><md-icon>clear</md-icon>Cancelar</button>
        <div class="botones-derecha">
          <button md-button color="warn" type="button" (click)="borrar()"><md-icon>remove_circle</md-icon>Borrar</button>
        </div>
      </md-card-actions>
    </md-card>
  </form>
</div>
