<div class="center">
  <md-card>
    <md-card-header>
      <md-card-title><h3>Cuenta Corriente</h3></md-card-title>
    </md-card-header>
    <md-card-content>
      <label *ngIf="!pacienteSeleccionado"><h4>Seleccione el Paciente:</h4></label>
      <button md-raised-button *ngIf="!pacienteSeleccionado" type="button" (click)="seleccionarPaciente()">Seleccionar Paciente</button>
      <div *ngIf="pacienteSeleccionado">
        <h3>{{paciente.nombre + " " + paciente.apellido}}</h3>
        <h5>{{"DNI: " + paciente.documento}}</h5>
        <md-divider style="padding: 5px;"></md-divider>
        <md-list>
          <md-list-item *ngFor="let cuenta of cuentaCorriente">

          </md-list-item>
        </md-list>
      </div>
    </md-card-content>
  </md-card>
</div>
