<div class="center-form">
  <form name="nuevoMedico" (ngSubmit)="crear()">
    <md-card>
      <md-card-header>
        <md-card-title>
          <md-icon>local_hospital</md-icon>
          Nuevo Médico
        </md-card-title>
      </md-card-header>
      <md-card-content>
        <table cellspacing="0"><tr>
          <td>
            <md-input-container>
              <input mdInput placeholder="Nombre" name="nombre" [(ngModel)]="nuevoMedico.nombre" #nombre="ngModel" required>
            </md-input-container>
          </td>
          <td>
            <md-input-container>
              <input mdInput placeholder="Apellido" name="apellido" [(ngModel)]="nuevoMedico.apellido" #apellido="ngModel">
            </md-input-container>
          </td>
          <td>
            <md-input-container>
              <input mdInput placeholder="Correo electrónico" name="mail" [(ngModel)]="nuevoMedico.mail" #mail="ngModel" required>
            </md-input-container>
          </td>
        </tr></table>
        <md-divider style="padding: 2px;"></md-divider>
        <h3>Usuario y contraseña del médico:</h3>
        <table width="100%">
          <tr>
            <td>
              <md-input-container>
                <input mdInput placeholder="Usuario..." name="usuario" [(ngModel)]="nuevoMedico.usuario" #usuario="ngModel" required>
              </md-input-container>
            </td>
            <td>
              <md-input-container>
                <input mdInput placeholder="Contraseña..." type="password" name="clave" [(ngModel)]="nuevoMedico.clave" #clave="ngModel" required>
              </md-input-container>
            </td>
            <td>
              <md-input-container>
                <input mdInput placeholder="Repita contraseña..." type="password" name="clave2" [(ngModel)]="nuevoMedico.clave2" #clave2="ngModel" required>
              </md-input-container>
            </td>
          </tr>
        </table>
      </md-card-content>
      <md-card-actions>
        <button md-button color="accent" type="submit"><md-icon>archive</md-icon>Guardar</button>
        <button md-button color="primary" (click)="cancelar()"><md-icon>clear</md-icon>Cancelar</button>
      </md-card-actions>
    </md-card>
  </form>
</div>
