<md-dialog-content>
  <md-card>
    <md-card-header>
      <md-card-title>
        <h3>Nueva ausencia programada</h3>
      </md-card-title>
    </md-card-header>
    <md-card-content>
      <button md-raised-button color="primary" *ngIf="!medicoSeleccionadoBool" type="button" (click)="seleccionarMedico()">Seleccionar Médico</button>
      <div *ngIf="medicoSeleccionadoBool">
        <h3>{{medicoSeleccionado.nombre + " " + medicoSeleccionado.apellido}}</h3>
        <button md-button color="accent" (click)="otroMedico()" id="hide-elegir">Elejir otro Médico</button>
        <table>
          <tr>
            <td>
              <md-select placeholder="Desde" required  [(ngModel)]="nuevaAusencia.horaDesde">
                <md-option *ngFor="let horario of horarios" [value]="horario.id">
                  {{ horario.hora }}
                </md-option>
              </md-select>
            </td>
            <td>
              <md-select placeholder="Hasta" required [(ngModel)]="nuevaAusencia.horaHasta">
                <md-option *ngFor="let horario of horarios" [value]="horario.id">
                  {{ horario.hora }}
                </md-option>
              </md-select>
            </td>
          </tr>
        </table>
        <md-input-container>
          <textarea mdInput placeholder="Observaciones" [(ngModel)]="nuevaAusencia.observaciones"></textarea>
        </md-input-container>
        <md-input-container>
          <input mdInput placeholder="Fecha" type="date" name="fechaAnul"  [(ngModel)]="nuevaAusencia.fechaAnul">
        </md-input-container>
        <table>
          <tr>
            <td>
              <button md-raised-button color="accent" type="button" (click)="crear()">Guardar</button>
            </td>
            <td>
              <button md-raised-button color="primary" type="button" (click)="dialogRef.close()">Cancelar</button>
            </td>
          </tr>
        </table>
      </div>
    </md-card-content>
  </md-card>
</md-dialog-content>
