<div class="center">
  <md-card>
    <md-card-header>
      <md-card-title>
        <h3>Liquidaciones a Médicos</h3>
      </md-card-title>
    </md-card-header>
    <md-card-content>
      <table>
        <tr>
          <td>
            <md-select ([ngModel])="medicoSeleccionado" name="medicoSeleccionado" style="width: 100px">
              <md-option *ngFor="let medico of medicos" [value]="medico" [style.background]="medico.color"
                         (click)="medicoSeleccionadoList(medico.id)">
                {{medico.nombre + ' ' + medico.apellido}}
              </md-option>
            </md-select>
          </td>
          <td>
            <md-input-container>
              <input mdInput placeholder="Fecha" type="date" name="fechaActual" [(ngModel)]="fechaTurnos" #fechaActual="ngModel">
            </md-input-container>
          </td>
        </tr>
      </table>
      <md-divider></md-divider>
      <table width="100%">
        <tr>
          <th>Paciente</th><th>Consultorio</th><th>Turno</th><th>Costo</th>
        </tr>
        <tr *ngFor="let turnoMedico of turnosMedico">
          <td>turnoMedico.paciente</td><td>turnoMedico.id_consultorio</td>
          <td>turnoMedico.id_turno</td><td>turnoMedico.costo</td>
        </tr>
      </table>
    </md-card-content>
  </md-card>
</div>
