<div class="center">
  <md-card>
    <md-card-header>
      <md-card-title>
        <h3>Liquidaciones a Médicos</h3>
      </md-card-title>
    </md-card-header>
    <md-card-content>
      <label *ngIf="!medicoSeleccionadoBool"><h4>Seleccione el Médico:</h4></label>
      <button md-raised-button color="primary" *ngIf="!medicoSeleccionadoBool" type="button" (click)="seleccionarMedico()">Seleccionar Médico</button>
      <div *ngIf="medicoSeleccionadoBool">
        <md-grid-list cols="2" rowHeight="20px">
          <md-grid-tile>
            <h3>{{medicoSeleccionado.nombre + " " + medicoSeleccionado.apellido}}</h3>
          </md-grid-tile>
          <md-grid-tile rows="2">
            <button md-button color="accent" (click)="otroMedico()">Elejir otro Médico</button>
          </md-grid-tile>
          <md-grid-tile>
            <h5>{{"Email: " + medicoSeleccionado.mail}}</h5>
          </md-grid-tile>
        </md-grid-list>
        <md-divider style="padding: 5px;"></md-divider>
        <md-input-container>
          <input mdInput placeholder="Fecha" type="date" name="fechaActual" [(ngModel)]="fechaTurnos" #fechaActual="ngModel" (change)="cambiarFecha()">
        </md-input-container>
        <md-divider style="padding: 5px;"></md-divider>
        <label><h4>Turnos</h4></label>
        <table width="100%">
          <tr>
            <th>Paciente</th><th>Consultorio</th><th>Turno</th><th>Costo</th>
          </tr>
          <tr *ngFor="let turnoMedico of turnosMedico">
            <td>{{turnoMedico.paciente}}</td><td>{{turnoMedico.id_consultorio}}</td>
            <td>{{turnoStringHora(turnoMedico.id_turno)}}</td><td>{{turnoMedico.costo}}</td>
          </tr>
        </table>
        <md-divider style="padding: 5px;"></md-divider>
        <table width="100%">
          <tr>
            <th>Paciente</th><th>Hora</th><th>Monto</th>
          </tr>
          <tr *ngFor="let adicionalesTurno of adicionales">
            <td>{{adicionalesTurno.paciente}}</td><td>{{adicionalesTurno.hora}}</td><td>{{adicionalesTurno.adicional}}</td>
          </tr>
        </table>
        <md-divider style="padding: 5px;"></md-divider>
        <label><h4>Adicionales</h4></label>
        <md-input-container>
          <input mdInput type="text" placeholder="Paciente" name="pacienteAdicional" [(ngModel)]="adicional.paciente">
        </md-input-container>
        <md-input-container>
          <input mdInput type="text" placeholder="Hora" name="horaAdicional" [(ngModel)]="adicional.hora" #horaAdicional="ngModel">
        </md-input-container>
        <md-input-container>
          <input mdInput placeholder="Costo" type="number" name="adicionalTurno" [(ngModel)]="adicional.adicional" #adicionalTurno="ngModel">
        </md-input-container>
        <button md-raised-button color="primary" type="button" (click)="agregarAdicional()">Agregar</button>
        <md-divider style="padding: 5px;"></md-divider>
        <md-list>
          <md-list-item>
            <md-icon md-list-avatar>subject</md-icon>
            <h4 md-line>Sub-total Turnos: </h4>
            <p md-line>{{subtotalTurnos()}}</p>
          </md-list-item>
          <md-list-item>
            <md-icon md-list-avatar>add_shopping_cart</md-icon>
            <h4 md-line>Sub-total Adicionales: </h4>
            <p md-line>{{subtotalAdicionales()}}</p>
          </md-list-item>
          <md-input-container style="padding: 3px">
            <input mdInput placeholder="Descuentos por comisión" type="number" [(ngModel)]="descuentos">
          </md-input-container>
          <md-list-item>
            <md-icon md-list-avatar>monetization_on</md-icon>
            <h3 md-line>Total: </h3>
            <p md-line>{{subtotalAdicionales() + subtotalTurnos() - descuentos}}</p>
          </md-list-item>
        </md-list>
      </div>
    </md-card-content>
  </md-card>
</div>
