<md-dialog-content>
  <h3>Médicos ausentes</h3>
  <h4>Fecha: {{fechaAnulaciones}}</h4>
  <md-divider style="padding: 1px"></md-divider>
  <md-list>
    <md-list-item *ngFor="let anulado of anulaciones">
      <h3 md-line>{{anulado.medico}}</h3>
      <p md-line>{{'Horario: desde las ' + convertirHora(anulado.id_horario_desde) + ' hasta las ' + convertirHora(anulado.id_horario_hasta)}}</p>
      <p md-line *ngIf="anulado.observaciones">{{'Observaciones: ' + anulado.observaciones}}</p>
    </md-list-item>
  </md-list>
</md-dialog-content>
