<div class="center">
  <md-card>
    <md-card-header>
      <md-card-title><h3>Turnos por médico</h3></md-card-title>
    </md-card-header>
    <md-card-content>
      <md-select ([ngModel])="medicoSeleccionado" name="medicoSeleccionado" style="width: 100px">
        <md-option *ngFor="let medico of medicos" [value]="medico" [style.background]="medico.color"
                   (click)="medicoSeleccionadoList(medico.id)">
          {{medico.nombre + ' ' + medico.apellido}}
        </md-option>
      </md-select>
      <md-divider></md-divider>
      <table width="100%">
        <tr>
          <th>Horario</th><th>Consultorio</th><th>Paciente</th><th>Entreturno</th>
        </tr>
        <tr *ngFor="let turno of turnosMedico">
          <td>{{convertirHora(turno.id_turno)}}</td>
          <td>{{convertirConsultorio(turno.id_consultorio)}}</td>
          <td>{{turno.paciente}}</td>
          <td><md-checkbox disabled [checked]="turno.entreturno == true"></md-checkbox></td>
        </tr>
      </table>
      <md-divider></md-divider>
    </md-card-content>
  </md-card>
</div>
