@media print {
  #hide-adicionales, #hide-adicionales *, #hide-elegir, #hide-elegir * {
    visibility: hidden;
    display: none;
  }
  #section-to-print, #section-to-print * {
    visibility: visible;
  }
  #section-to-print {
    position: absolute;
    left: 0;
    top: 0;
  }
}

tr:nth-child(even){background-color: rgba(188, 188, 188, 0.39)
}
th{
  background-color: dimgray;
  padding: 1px;
}
td{
  padding: 1px;
}
