<div class="center">
  <md-card>
    <div class="boton-add">
      <a md-fab [routerLink]="['/nuevo-consultorio']"><md-icon>add</md-icon></a>
    </div>
    <md-divider></md-divider>
    <md-card-content>
      <md-list>
        <md-list-item class="clickVer" *ngFor="let consultorio of consultorios" (click)="detalles(consultorio.id)">
          <md-icon md-list-avatar>business_center</md-icon>
          <h4 md-line>{{'Nombre: ' + consultorio.nombre}}</h4>
          <p md-line>{{'ID: ' + consultorio.id}}</p>
        </md-list-item>
      </md-list>
    </md-card-content>
  </md-card>
</div>
