<div class="center">
  <md-card>
    <md-card-header>
      <md-card-title>
        <md-icon>local_hospital</md-icon>
        Médicos
      </md-card-title>
    </md-card-header>
    <div class="boton-add">
      <a md-fab [routerLink]="['/nuevo-medico']"><md-icon>add</md-icon></a>
    </div>
    <md-card-content>
      <md-input-container>
        <md-placeholder>
          <span md-prefix>
          <i class="material-icons app-input-icon">search</i>
            Nombre...
        </span>
        </md-placeholder>
        <input mdInput #input [(ngModel)]="search">
      </md-input-container>
      <md-input-container>
        <md-placeholder>
          <span md-prefix>
          <i class="material-icons app-input-icon">search</i>
            Apellido...
        </span>
        </md-placeholder>
        <input mdInput #input [(ngModel)]="searchApe">
      </md-input-container>
    </md-card-content>
    <md-divider></md-divider>
    <md-card-content>
      <md-list>
        <md-list-item class="clickVer" *ngFor="let medico of medicos | filterBy: {nombre: search, apellido:searchApe}" (click)="detalles(medico.id)">
          <md-icon md-list-avatar>local_hospital</md-icon>
          <h4 md-line>{{medico.nombre + ' ' + medico.apellido}}</h4>
          <p md-line>{{'E-mail: ' + medico.mail}}</p>
        </md-list-item>
      </md-list>
    </md-card-content>
  </md-card>
</div>
