<h1 md-dialog-title>Nuevo movimiento</h1>
<div md-dialog-content>
  <md-input-container>
    <textarea mdInput placeholder="Concepto" required [(ngModel)]="nuevoMovimiento.concepto"></textarea>
  </md-input-container>
  <md-input-container>
    <input mdInput placeholder="Monto" type="number" required [(ngModel)]="nuevoMovimiento.monto">
  </md-input-container>
</div>
<div md-dialog-actions>
  <button md-button type="button" color="accent" (click)="guardarMovimiento(true)"><md-icon>archive</md-icon>Pago</button>
  <button md-button type="button" color="warn" (click)="guardarMovimiento(false)"><md-icon>archive</md-icon>Deuda</button>
  <button md-button type="button" (click)="dialogRef.close()"><md-icon>clear</md-icon>Cancelar</button>
</div>
