<h1 md-dialog-title>Modificar costo de turno</h1>
<div md-dialog-content>
  <table width="100%">
    <tr *ngIf="turnoCargado">
      <td>
        {{'Paciente: ' + turno.paciente}}
      </td>
      <td>
        {{'Horario: ' + convertirHora(turno.id_turno)}}
      </td>
    </tr>
    <tr>
      <td>
        <md-input-container>
          <input mdInput type="number" placeholder="Consulta" (click)="$event.target.select()" [(ngModel)]="nuevoCosto">
        </md-input-container>
      </td>
      <td>
        <md-input-container>
          <input mdInput type="number" placeholder="Tratamiento" (click)="$event.target.select()" [(ngModel)]="nuevoCosto2">
        </md-input-container>
      </td>
      <td>
        <md-input-container>
          <input mdInput type="number" placeholder="Equipo" (click)="$event.target.select()" [(ngModel)]="nuevoCosto3">
        </md-input-container>
      </td>
    </tr>
  </table>
</div>
<div md-dialog-actions>
  <button md-button type="button" color="accent" (click)="modificar()"><md-icon>archive</md-icon>Guardar</button>
  <button md-button type="button" (click)="dialogRef.close()"><md-icon>clear</md-icon>Cancelar</button>
</div>
